{% extends 'base.html' %}
{% block body %}

<h2>{{ the_title }}</h2>

<form method="POST" action="/search4_rus">
    <table>
        <p>Используйте эту форму чтобы заполнить поисковый запрос:</p>
        <tr><td>Фраза:</td><td><input name="phrase" type="text" width="60"></td></tr>
        <tr><td>Буквы:</td><td><input name="letters" type="text" value="уеэоаыяию"></td></tr>
    </table>
    <p>Когда будете готовы, нажмите на эту кнопку:</p>
    <p><input value="Найти" type="submit"></p>
</form>

<form method="GET" action="/entry">
    <p><input value="English version" type="submit"></p>
</form>

{% endblock %}